# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache
.env

# Logs
*.log
motion_detection.log
motion_logs/

# YOLO models
models/
yolo8m.pt
yolo8l.pt

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.DS_Store
yolov8l.pt
shared_config.py
mjp
